language: python
dist: bionic
services:
    - docker
python:
    - '3.6'
    - '3.7'
    - '3.8'
before_install:
  - git clone https://github.com/Huelse/SEAL-Python.git
  - cd SEAL-Python
  - pip3 install -r requirements.txt
  - git submodule init && git submodule update
  - git submodule update --remote
  - cd SEAL
  - cmake -S . -B build -DSEAL_USE_MSGSL=OFF -DSEAL_USE_ZLIB=OFF -DSEAL_USE_ZSTD=OFF
  - cmake --build build
  - cd ..
  - python3 setup.py build_ext -i
  - python3 setup.py install
  - cd ..
install:
  - pip3 install coveralls coverage
  - git clone https://github.com/wgxli/simple-fhe.git
  - cd simple-fhe
script:
  - coverage run --branch -m unittest discover tests
  - ls -la
  - coverage report
after_success:
  - coveralls
